body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body.no-dvh {
    min-height: 100vh;
}

body.dvh {
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body.dvh .cont {
    min-height: 100dvh;
}

body.no-dvh .cont {
    min-height: 100vh;
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}